*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}
 :root{
  --left-right-margin:3%;
 }

 body{
  font-family: Arial, Helvetica, sans-serif;
 }

.main-form {
  width: 50%;
  border: 1px solid rgb(164, 161, 161);
  border-radius: 2%;
  background-color:  rgba(208, 204, 204, 0.711);
  text-align: center;
  color: gray;
}

.forlegent{
  font-size: 25px;
  padding: 2%;
  position: relative;
}

.forlegent::after,
.forlegent::before{
  content:'';
  position: absolute;
  background-color:gray;
  height: 2px;
  width: 15%;
}

.forlegent::after{
  right:10%;
  top:50%;
}

.forlegent::before{
  left:10%;
  top:50%;
}



.container-name {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  flex-wrap: wrap;

}

.container-other {
  display: flex;
  flex-direction: column;
}

.sizemainitems{
  width:40%
}

.for-other {
  width: calc(100%-var(--left-right-margin));
} 
 

 .margin-main{
  margin:2% var(--left-right-margin)
 }

 .foritemsblock{
  display: block;
  height: 35px;
 }
 
 .forbutton {
  background-color: green;
  color: white;
 }

 .for-a{
  text-decoration: none;
  color: green;
 }